:root {
    --main-color: #2E2F42;
    --logo-color: #4D5AE5;
    --light-color: #FFFFFF;
    --dark-color: #434455;
    --btn-hover: #404BBF;
    --btn-active: #f4f4fd;
    --prim-fnt: Roboto, sans-serif;
    --sec-fnt: Raleway, sans-serif;
    --btn: #e7e9fc;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    margin: 0 auto;
}

body {
    font-family: var(--prim-fnt);
    color: var(--dark-color);
    background-color: var(--light-color);
    text-decoration: none;
    font-style: normal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-nav {
    display: flex;
    align-items: center;
    padding: 24px 0;
}


.list {
    list-style: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header-list, .addr-list {
    display: flex;
    gap: 40px;
}

ul,
ol {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

a, address {
    text-decoration: none;
    color: currentColor;
    font-style: inherit;
    color: var(--main-color);
}

/* logo header */
.logo {
    display: flex;
    font-family: var(--sec-fnt);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--logo-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding: 0 24px;
    margin-right: 76px;
}

.hlogo-span {
    color: var(--main-color);
}

.nlist-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    padding: 24px 0;

}

.nlist-link:hover,
.nlist-link:focus,
.addr-link:hover,
.addr-link:focus {
    color: #404bbf;

}

.addr-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    padding: 0 24px;

}
/* hero section */
.section-hero {
    background-color: var(--main-color);
    padding: 188px 0;
}


.hero-title {
    color: var(--light-color);
    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;
    padding-top: 30px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-btn {
    display: block;
    margin: 15px auto auto;
    height: 56px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    background-color: var(--logo-color);
    font-family: var(--prim-fnt);
    color: var(--light-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    text-align: center;
}

.hero-btn:hover, .hero-btn:focus {
    background-color: var(--btn-hover);
}

/* second section */
.second-section {
    padding: 120px 0;
}

.second-s-ul {
    display: flex;
    gap: 24px;
}

.feature-list-item {
    flex-basis: calc((100% - 72px) / 4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
}

.feature-p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

/* third section */
.third-section {
    padding-bottom: 120px;

}

.doing-h, .team-h {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 72px;
}

.doing-ul, .team-list {
    display: flex;
    gap: 24px;
}

.doing-item {
   flex-basis: calc((100% - 48px) / 3);
}

/* fourth section */
.team-section {
    padding: 120px 0;
    background-color: var(--btn-active);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    box-sizing: border-box;
    background-color: var(--light-color);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    padding: 0;
    margin: 0;
}

.team-image {
    padding: 0;
    margin: 0;
    display: block;
}

.team-txt-blk {
    padding: 32px 16px;
    
}

.team-name {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color)
}

.team-position {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

/* portfolio button list */
.btn-list {
    margin: 86px auto 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
}


.btn-list .btn {
    text-transform: capitalize
}

.btn {
    font-family: var(--prim-fnt);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-transform: capitalize;
    letter-spacing: 0.04em;
    background-color: var(--btn-active);
    color: var(--logo-color);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--btn);
}

.btn:hover,
.btn:focus {
    color: var(--light-color);
    background-color: var(--btn-hover);
    border: 1px solid transparent
} 

/* portfolio projicts */

.portfolio-section {
    text-transform: capitalize;
    padding: 96px 0 120px 0;
}

.portfolio-section h3 p {
    text-transform: inherit;
}

.projects {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    background-color: var(--light-color);
}

.proj-item {
    flex-basis: calc((1128px - 48px) / 3);
    box-sizing: border-box;
}

.card-text-blk {
    padding: 32px 16px;
    border: 1px solid var(--btn);
    border-top: none;
}

.proj-h {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.proj-p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}


/* footer */
.footer {
    background-color: var(--main-color);
    color: var(--light-color);
    padding: 100px 0;
    margin-bottom: 0px;
}

.flogo-span {
    color: #F4F4FD;

}

.flogo {
    display: inline-block;
    margin-bottom: 16px;
    padding: 0;
} 

.footer-p {
    line-height: 1.5;
    max-width: 264px;
    color: var(--btn-active);
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
}
